# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # A secret key for steam api
    steam_api_url:     'https://api.steampowered.com'
    steam_community_url: 'http://steamcommunity.com/'
    steam_api_key:     key
    steam_inventory_count: 8
    steam_community_image_url: http://cdn.steamcommunity.com/economy/image/

    rabbit_mq_host: localhost
    rabbit_mq_port: 15672
    rabbit_mq_user: cgrays
    rabbit_mq_pass: cgrays
    rabbit_mq_vhost: /

    cache_expire: 3600

    jwt_private_key_path: '%kernel.root_dir%/../var/jwt/private.pem' # ssh private key path
    jwt_public_key_path:  '%kernel.root_dir%/../var/jwt/public.pem'  # ssh public key path
    jwt_key_pass_phrase:  ''                                         # ssh key pass phrase
    jwt_token_ttl:        3600

    id_default_user: 8
